In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats
import matplotlib.pyplot as plt
# %matplotlib inline

In [24]:
# load dataset
df = pd.read_pickle('accidents.pkl.gz')[['p11', 'p13a', 'p13b']]  # 487161 rows

In [25]:
# ignore drug-related crashes
df = df[df['p11'] != 4]
df = df[df['p11'] != 5]

In [26]:
## Heavy consequences

# append column with a flag indicating heavy crash consequences
df['conseq'] = False
df.loc[(df['p13a'] > 0) | (df['p13b'] > 0), 'conseq'] = True

df[df['conseq'] == True]  # 11785 rows

        p11  p13a  p13b  conseq
18        2     0     1    True
117       2     0     1    True
218       2     0     1    True
247       9     0     1    True
403       2     1     0    True
...     ...   ...   ...     ...
486746    0     1     0    True
486887    2     0     1    True
486935    2     0     2    True
487011    0     1     0    True
487144    2     0     1    True

[11663 rows x 4 columns]

In [27]:
## heavy alcohol influence

# append column with a flag indicating heavy alcohol influence
df['alcohol'] = False
df.loc[(df['p11'] >= 7), 'alcohol'] = True

df[df['alcohol'] == True]  # 17378 rows

        p11  p13a  p13b  conseq  alcohol
3         9     0     0   False     True
6         9     0     0   False     True
12        8     0     0   False     True
17        9     0     0   False     True
30        9     0     0   False     True
...     ...   ...   ...     ...      ...
487085    9     0     0   False     True
487095    8     0     0   False     True
487107    8     0     0   False     True
487142    9     0     0   False     True
487152    8     0     0   False     True

[17378 rows x 5 columns]

In [29]:
ct = pd.crosstab(df['alcohol'], df['conseq'])
ct

conseq    False  True
alcohol
False    457528  10777
True      16492    886

In [31]:
out = scipy.stats.chi2_contingency(ct)
print(out[1])
print('Hodnota je velmi malá, hypotézu tedy povrzujeme.')

2.0971505700338304e-123